* {
    margin: 0;
    padding: 0;
}

#aqi {
    z-index: 100;
    display: inline-block;
    width: 16rem;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

#aqi-con {
    font-size: x-large;
    font-weight: bold;
}

#aqi .excellent {
    color: #02E300;
}
#aqi .good {
    color: #FFFF00;
}
#aqi .slightly {
    color: #FF7E00;
}
#aqi .medium {
    color: #FE0000;
}
#aqi .heavy {
    color: #98004B;
}
#aqi .serious {
    color: #7E0123;
}
