#aqi {
    z-index: 100;
    position: fixed;
    width: 300px;
    height: 100px;
    display: inline-block;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
#aqi h1 {
  z-index: 100;
  position: absolute;
  width: 25rem;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.7);
  border-radius: 20px;
  padding: 20px;
}

#aqi .excellent {
    color: #02E300;
}
#aqi .good {
    color: #FFFF00;
}
#aqi .slightly {
    color: #FF7E00;
}
#aqi .medium {
    color: #FE0000;
}
#aqi .heavy {
    color: #98004B;
}
#aqi .serious {
    color: #7E0123;
}
